body {
    margin: auto;
    text-align: center;
    align-items: center;

}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 15px;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color:  whitesmoke;;
}

thead, tfoot td[colspan] {
    background-color: blanchedalmond;
    font-weight: bold;
}

input[type="number"]{
    background-color: rgb(245, 230, 201);
}




