*,html,body {
    margin: 0;
    padding: 0;
}

header h1 + p {
    color: white;
}

header{
    background-color: red;
}

header:hover {
    background-color: blue;
}

div p {
    color: chartreuse;
    background-color: black;
}

p {
    color: aqua;
}